#### Import Libraries & Dataset

In [ ]:
import numpy
import pandas

# import the titanic dataset
titanic = pandas.read_csv('Titanic.csv')

# brief sumary the dataset
titanic_nona = titanic.dropna()
titanic_nona.describe()

#### Ex.3.1 Merge the first and last 5 items of Titanic dataset with new row indices 0-9.

In [ ]:
# Code for Ex3.1

#### Ex.3.2 Merge the following three provided DataFrames with their shared columns, and set the new index as 0-5.

In [ ]:
df1 = titanic.head(2)
df2 = titanic.iloc[500:502]
df3 = titanic.tail(2)

del df1['Name']
del df2['Sex']
del df3['Age']

In [ ]:
# Code for Ex3.2

#### Ex.3.3 Merge the following three provided DataFrames with complete columns as the original Titanic dataset, and set the new index as 0-5.

In [ ]:
df1 = titanic.head(2)
df2 = titanic.iloc[500:502]
df3 = titanic.tail(2)

del df1['Name']
del df2['PClass']
del df3['Name']

In [ ]:
# Code for Ex3.3

#### Ex.3.4 Group the dataset by Age, and brief summary each group. ( Please uniformly seperate the age into 8 groups, drop NaN if needed )

In [ ]:
# Code for Ex3.4

#### Ex.3.5 Group the dataset by PClass and Sex, and return the average age of the these groups. ( drop NaN if needed )

In [ ]:
# Code for Ex3.5