#### Import Libraries

In [3]:
import numpy
import pandas

#### Ex.3.1 Create a dictionary to combine four Series from the four columns in the following table：
| |   name     | age | gender | height |
|-|:----------:|:---:|:------:|:------:|
|0| Emma       |  21 | Female |  163   |
|1| Tommy      |  26 |  Male  |  177   |
|2| Mike       |  23 |  Male  |  154   |
|3| Steven     |  28 |  Male  |  168   |
|4| Emily      |  25 | Female |  160   |
|5| Gloria     |  23 | Female |  166   |

In [4]:
# code for Ex.3.1
dictionary = {
                  'name'       : pandas.Series(['Emma', 'Tommy', 'Mike', 'Steven', 'Emily', 'Gloria']),
                  'age'        : pandas.Series([21, 26, 23, 28, 25, 23]), 
                  'gender'     : pandas.Series(['Female', 'Male', 'Male', 'Male', 'Female', 'Female']),
                  'height'     : pandas.Series([163, 177, 154, 168, 160, 166])
             }
print dictionary

{'gender': 0    Female
1      Male
2      Male
3      Male
4    Female
5    Female
dtype: object, 'age': 0    21
1    26
2    23
3    28
4    25
5    23
dtype: int64, 'name': 0      Emma
1     Tommy
2      Mike
3    Steven
4     Emily
5    Gloria
dtype: object, 'height': 0    163
1    177
2    154
3    168
4    160
5    166
dtype: int64}

#### Ex.3.2 Create a DataFrame the same to the table in Ex.3.1 from a dictionary of Series：

In [8]:
# code for Ex.3.2
df = pandas.DataFrame(dictionary)

# rearrange the order of columns (default order of columns follows the order of alphabet)
cols = df.columns.tolist()

df.columns.tolist()
cols[0]
# cols = cols[-1:] + cols[:-1]
# df = df[cols]

# df

'age'

#### Ex.3.3 Pick out all the male items and assign them to a new DataFrame df_male

In [22]:
# code for Ex.3.3

# the tricky one
df_male = df[1:4]
df_male


# the right answer
l_male = []

for i in range(len(df)):
    if df.loc[i,'gender'] == 'Male':
        l_male.append(df.iloc[i])
        
df_male = pandas.DataFrame(l_male)
df_male

[name      Tommy
age          26
gender     Male
height      177
Name: 1, dtype: object]
[name      Tommy
age          26
gender     Male
height      177
Name: 1, dtype: object, name      Mike
age         23
gender    Male
height     154
Name: 2, dtype: object]
[name      Tommy
age          26
gender     Male
height      177
Name: 1, dtype: object, name      Mike
age         23
gender    Male
height     154
Name: 2, dtype: object, name      Steven
age           28
gender      Male
height       168
Name: 3, dtype: object]

     name  age gender  height
1   Tommy   26   Male     177
2    Mike   23   Male     154
3  Steven   28   Male     168

#### Ex.3.4 Check the average age and average height of these six students

In [26]:
# code for Ex.3.4
df.mean()

age        24.333333
height    164.666667
dtype: float64

#### Ex.3.5 Is there any relationship between height and age?

In [27]:
# code for Ex.3.5
df.corr()

             age    height
age     1.000000  0.488935
height  0.488935  1.000000