# Week 1 - Basics of Python

## <span style="color:#1A9FFF">Workshop outline
<!-- 
THIS IS A R MARKDOWN CELL.
THE CONTENT FOLLOWS R MARKDOWN STYLES.
FOR MORE INFO, YOU MAY REFER TO https://www.rstudio.com/wp-content/uploads/2015/02/rmarkdown-cheatsheet.pdf
-->

* ** 1. Before Tutorial **
    + Tut 1a: Suggestions
    + Tut 1b: Installation
    + Tut 1c: Introduction to Jupyter Notebook


* ** 2. Python Basics ** 
    + Tut 2a: Data Type <!-- int, float, string, bool, list, dictionary (indexing slicing) -->
    + Tut 2b: Flow Control <!-- for, if -->
    + Tut 2c: Function
    + Exercise 2
    + 10 minutes break
      

* ** 3. Pandas Basics **
    + Tut 3a: Basic Data Structure
    + Tut 3b: Basic Statistics
    + Exercise 3
    + 10 minutes break

# <span style="color:#1A9FFF">1. Before Tutorial</span>
## <span style="color:#1A9FFF">Tut 1a. Suggestions</span>

<ul>
    <li>** Try every code in the tutorial **</li>
    <li>** In the class, interrupt me any time if you have any question **</li>
    <li>** After class, search by Google first if you meet any problem **</li>
</li> 
</ul>

## <span style="color:#1A9FFF">Tut 1b. Installation</span>

** Anaconda : ** Anaconda is a Python/R distribution. It aims to provide everything you need in Python for data science. It includes:
    <ul>
        <li> The core Python language </li>
        <li> 100+ Packages (toolbox) </li>
        <li> Jupyter Notebook and Spyder </li>
        <li> `conda` package manager </li>
    </ul>
    ** Anaconda Installation Package : https://www.anaconda.com/download **
    
<!-- The installation may take a while, move on to the "Introduction of Jupyter Notebook" first. -->

## <span style="color:#1A9FFF">Tut 1c. Introduction to Jupyter Notebook</span>

** Notebook Document ** : Notebook documents are both human-readable documents containing the analysis description and the results (figures, tables, etc..) as well as executable documents which can be run to perform data analysis. 

** Jupyter Notebook **  : The Jupyter Notebook App is a server-client application that allows editing and running notebook documents via a web browser. The basic component of Jupyter Notebook is cell.
    <ul>
        <li> ` Markdown Cell ` for Rich Text ( [Tutorial](https://www.markdowntutorial.com) )</li>
        <li> ` Code Cell ` for Excutable Code </li>
    </ul>

### This is a simple Markdown example

*** we can make a list: ***
+ The core Python language
+ 100+ Packages (toolbox)
+ Jupyter Notebook and Spyder
+ `conda` package manager

*** we can attach a link: ***
  [link here](http://www.ntu.edu.sg/Pages/home.aspx)

### This is an example of excutable document (code)

In [26]:
print "I love NTU"    # basic output statement in Python
print "I love Data Science"
print "I love Python!!!"

I love NTU
I love Data Science
I love Python!!!

# <span style="color:#1A9FFF">2. Python Basics</span>
## <span style="color:#1A9FFF">Tut 2a. Data Type</span>

### Basic Data Type and Their Operations
<ul>
    <li> Data Type      : `Integer`, `Float`, `String`, `Bool` </li>
    <li> Data Structure : `List`, `Dictionary` </li>
</ul>

##### Integer

In [3]:
a = 1 # define a integer
b = 2 # another integer

print "a =", a, ", b =", b, '\n'

add_c = a + b # addition of two integers
print "a + b =", add_c

sub_c = a - b # substraction of two integers
print "a - b =", sub_c

mul_c = a * b # multiplication of two integers
print "a * b =", mul_c

div_c = a / b # division of two integers
print "a / b =", div_c, "  <= Division of Integers (rounded down)"

a = 1 , b = 2

a + b = 3
a - b = -1
a * b = 2
a / b = 0.5   <= Division of Integers (rounded down)

##### Float

In [28]:
a = 1.0  # define a float (decimal)
b = 2    # a integer

print "a =", a, ", b =", b, '\n'

add_c = a + b # addition of two floats
print "a + b =", add_c

sub_c = a - b # substraction of two floats
print "a - b =", sub_c

mul_c = a * b # multiplication of two floats
print "a * b =", mul_c

div_c = a / b # division of two integers
print "a / b =", div_c, "  <= Division of Float"

a = 1.0 , b = 2

a + b = 3.0
a - b = -1.0
a * b = 2.0
a / b = 0.5   <= Division of Float

##### String

In [29]:
s = "I love "       # define a string
something = 'XXX'   # another string

print s + something # addition of strings

I love XXX

##### Bool
`True` and `False`

In [4]:
a = True  # define a bool
b = False # another bool
print "a =", a, ", b =", b, '\n'

# Condition Statement
a = (2 > 3)
b = (2 == 2)
print "From Condition Statement"
print "a =", a, ", b =", b, '\n'

a = True , b = False

From Condition Statement
a = False , b = True

In [31]:
a = True  # define a bool
b = False # another bool
print "a =", a, ", b =", b, '\n'


# logic operation
and_c = a and b # "and" operation of two bool variables
print "a and b =", and_c

or_c  = a or b  # "or" operation of two bool variables
print "a or b  =", or_c

not_c = not a   # "not" operation of a bool variable
print "not a   =", not_c

a = True , b = False

a and b = False
a or b  = True
not a   = False

### List
##### Create a list

In [32]:
# Define a list

l_number = [2017, 10, 12, 15, 44, 55.0]             # a list of numbers
l_string = ['Andrew', 'Jordan', 'Hinton', 'LeCun']  # a list of strings

a = 3       # a integer
b = True    # a bool
c = 5.0     # a float
d = 'True'  # a string

l_variable = [a, b, c, d] # a combination of different data types

print "List of numbers   : ", l_number
print "List of strings   : ", l_string
print "List of variables : ", l_variable

List of numbers   :  [2017, 10, 12, 15, 44, 55.0]
List of strings   :  ['Andrew', 'Jordan', 'Hinton', 'LeCun']
List of variables :  [3, True, 5.0, 'True']

##### Indexing of list
* use a integer with a bracket `[]`
* index starts from `0`

In [33]:
# 1. Indexing of list

l_string = ['Andrew', 'Jordan', 'Hinton', 'LeCun']  # a list of strings
#               0         1         2        3      positive indexing
#              -4        -3        -2       -1      negative indexing
print "< 1. Indexing of list >"
print "Positive Indexing :", l_string[0]   # indexing, select the first string (positive index)
print "Negative Indexing :", l_string[-1]  # indexing, select the last string (negative index)
print "Slicing  :", l_string[0:2]          # slicing,  select the first and second string

< 1. Indexing of list >
Positive Indexing : Andrew
Negative Indexing : LeCun
Slicing  : ['Andrew', 'Jordan']

In [34]:
# 2. Change one of the elements

print "< 2. Change one of the elements >"
print "Original List    :", l_string
l_string[1] = 'Yoshua'
print "Replace 'Jordan' :", l_string

< 2. Change one of the elements >
Original List    : ['Andrew', 'Jordan', 'Hinton', 'LeCun']
Replace 'Jordan' : ['Andrew', 'Yoshua', 'Hinton', 'LeCun']

In [35]:
# 3. String is a list of char (character)

print "< 3. String is a list of char >"
s = 'Andrew'
# 'A' 'n' 'd' 'r' 'e' 'w' 
#  0   1   2   3   4   5
print "Original string        :", s
print "First character        :", s[0]    # select the first character
print "2nd - 5th characters   :", s[1:5]  # select the second to the Fifth character
print "2nd - End characters   :", s[2:]   # select the third character and the following characters in the string
print "First - 3rd characters :", s[:3]   # select the first, second and third characters in the string

< 3. String is a list of char >
Original string        : Andrew
First character        : A
2nd - 5th characters   : ndre
2nd - End characters   : drew
First - 3rd characters : And

### Dictionary
give each item a name ( indexing with a pre-defined 'name'， ***key*** )

** { <span style="color:#FF8B33">'key1'</span> : value1 , <span style="color:#FF8B33">'key2'</span> : value2 , . . . , <span style="color:#FF8B33">'keyN'</span> : valueN } **

In [6]:
# 1. Define a dictionary
# define with a curly brace{}

d = {'int':1, 'float':1.0, 'bool':True, '1': 'Andrew', '2':'Hinton', '3':'LeCun'}
print "< 1. Define a dictionary >"
print "dictionary d :", d

 < 1. Define a dictionary >
dictionary d : {'int': 1, 'float': 1.0, '1': 'Andrew', '3': 'LeCun', '2': 'Hinton', 'bool': True}

In [37]:
# 2. Define an empty dictionary
d_e = {}
d_e['year']  = 2017
d_e['month'] = 'October'
d_e['day']   = 12
print "< 2. Define an empty dictionary >"
print "from an empty dictionary :", d_e

< 2. Define an empty dictionary >
from an empty dictionary : {'month': 'October', 'day': 12, 'year': 2017}

In [38]:
# 3. Indexing of dictionary
# use a key with bracket []
print "< 3. Indexing of dictionary >"
print "item 'int'     :", d['int'] 
print "item 'bool'    :", d['bool']
print "item '1''2''3' :", d['1'], d['2'], d['3']

< 3. Indexing of dictionary >
item 'int'     : 1
item 'bool'    : True
item '1''2''3' : Andrew Hinton LeCun

In [7]:
# 4. Replace value of an item
print "< 4. Replace value of an item >"
print "original dictionary :", d
d['int']  = 10
print "modified dictionary :", d

< 4. Replace value of an item >
original dictionary : {'int': 1, 'float': 1.0, '1': 'Andrew', '3': 'LeCun', '2': 'Hinton', 'bool': True}
modified dictionary : {'int': 'int', 'float': 1.0, '1': 'Andrew', '3': 'LeCun', '2': 'Hinton', 'bool': True}

### List v.s. Dictionary
<ul>
    <li> Indexing in Dictionary is faster than List </li>
    <li> Dictionary costs much more mermory than List </li>
</ul>

## <span style="color:#1A9FFF">Tut 2b. Flow Control</span>

### If Statement
Run code based conditions
<img src="res/if.png">

##### A Simple Example

In [9]:
condition = True  # define a bool variable called "condition"

if condition:
    print "The condition is True"
else:
    print "The condition is False"

The condition is True

##### Using Condition Statement

In [41]:
# define a float variable recording a student's height
# if the student is higher than 160.0cm, he will be given an apple
# if the student is lower than 160.0cm,  he will be given a banana

height = 170.0  # the height of the student

if height > 160.0:
    print "give him an apple"
else:
    print "give him a banana"

give him an apple

##### if, elif, else

 <ul>
    <li> `if, else` is just binary-branch flow control statement. </li>
    <li> For multi-branch flow control, we can use `if, elif, else`. </li>
</ul>


More complicated case:
<img src="res/gpa.png">

In [42]:
# decide the grade of a student based on the score provided

score = 75 # score of a student

if   score >= 90:
    print "Grade : A"
    
elif score >= 80:
    print "Grade : B"
    
elif score >= 70:
    print "Grade : C"
    
elif score >= 60:
    print "Grade : D"

else:
    print "Grade : F (so sad ...)"

Grade : C

### For Loop
Repeat codes many times, with a variable changing as the way we define
<img src="res/for.png">

##### A simple example

In [43]:
# print the iter_variable repeatedly with the value of iter_variable changed from 0 to 3

# 1. A simple example

print "< 1. A simple example >"
for iter_variable in [0, 1, 2, 3]:
    print iter_variable

< 1. A simple example >
0
1
2
3

In [11]:
# 2. A more convinient way

print "< 2. A more convinient way >"
for iter_variable in range(4):   # we can change the number in range() to any positive integer
    print iter_variable

< 2. A more convinient way >
0
1
2
3

In [45]:
# 3. A flexible way

print "< 3. A flexible way >"

rangeList = [4, 3, 5, 7]

for iter_variable in rangeList:
    print iter_variable

< 3. A flexible way >
4
3
5
7

##### Repeat an operation

In [46]:
# sum up the numbers from 1 to 10


# 1. The most naive way

print "< 1. The most naive way >"
sum_10 = 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
print "sum from 1 to 10 :", sum_10

< 1. The most naive way >
sum from 1 to 10 : 55

In [47]:
# 2. The right way to do

print "< 2. The right way to do >"
sum_10 = 0                    # define a variable to accumulate the numbers
for i in range(10):
    sum_10 = sum_10 + (i + 1)
print "sum from 1 to 10 :", sum_10

< 2. The right way to do >
sum from 1 to 10 : 55

In [48]:
# 3. More numbers involved

print "< 3. More numbers involved >"
sum_1000 = 0                    # define a variable to accumulate the numbers
for i in range(1000):
    sum_1000 = sum_1000 + (i + 1)
print "sum from 1 to 1000 :", sum_1000

< 3. More numbers involved >
sum from 1 to 1000 : 500500

### While Loop
Repeat codes until condition is not satisfied
<img src="res/while.png">

##### A simple example

In [49]:
# A DANGEROUS case
condition = True

while condition:
    print "I'm in."
#     condition = False
    
print "I'm out"

I'm in.
I'm out

##### Repeat an operation

In [13]:
# sum up the numbers from 1 to 100

counter = 1
sum_100 = 0

while counter <= 100:
    sum_100 = sum_100 + counter
    counter = counter + 1
    
print "sum from 1 to 100 :", sum_100

    
    
# illustration code
# counter = 1
# sum_9   = 0
# print "counter", " sum_9", '\n'
# while counter <= 9:
#     sum_9 = sum_9 + counter
#     print counter, "         ", sum_9
#     counter = counter + 1

sum from 1 to 100 : 5050
counter  sum_9

1           1
2           3
3           6
4           10
5           15
6           21
7           28
8           36
9           45

## <span style="color:#1A9FFF">Tut 2c. Function</span>

### Definition of Function
Enclosing codes so that it can be called repeatedly and flexibly
<img src="res/function.png">

In [51]:
# 1. A simple example

# define a function sum up numbers from 1 to n (n is the input parameter)
def sumUp(n):          # user-defined function
    
    # initialize a variable
    sum_n = 0
    
    # use "for loop" to implement sum up function, based on input parameter "n"
    for i in range(n):
        sum_n = sum_n + (i+1)
    
    # output the result, end of the function
    return sum_n

# ================================================
n = 10
print "< 1. A simple example >"
print "Output of sumUp function :", sumUp(n)
# ================================================

< 1. A simple example >
Output of sumUp function : 55

In [52]:
# 2. Multiple iuputs

# define a function sum up two input variables "a" and "b"
def addUp(a, b):
    
    return a+b

# ================================================
a = 3
b = 5
print "< 2. Multiple outputs >"
print "a + b =", a, "+", b, "=", addUp(a,b)
# ================================================

< 2. Multiple outputs >
a + b = 3 + 5 = 8

In [53]:
# 3. Multiple outputs

# define a function sum up and multiple up numbers from 1 to n (n is the input parameter)
def sumMulUp(n):
    
    # initialize two variables
    sum_n = 0   # for summation
    mul_n = 1   # for multiplication
    
    for i in range(n):
        sum_n = sum_n + (i+1)
        mul_n = mul_n * (i+1)
    
    # output two results, end of the function
    return sum_n, mul_n

# ================================================
n = 10
print "< 3. Multiple outputs >"
sum_n, mul_n = sumMulUp(n)
print "Output of sumMulUp function :", sum_n, mul_n
# ================================================

< 3. Multiple outputs >
Output of sumMulUp function : 55 3628800

### Built-in functions in Python

##### for List and Dictionary

In [54]:
# ============== List ==================== 

# 1. Generate a list with numbers from 0 to 9 with random order

import random # import a package that helps generate random number 
l = random.sample(range(10), 10)
print "< 1. Generate a list >"
print "The generated list :", '\n', l

< 1. Generate a list >
The generated list :
[8, 3, 5, 0, 6, 2, 1, 4, 7, 9]

In [55]:
# 2. Check the length of the generated list

len_l = len(l)                # "global" function
print "< 2. Check the length of a list >"
print "The length of generated list :", len_l

< 2. Check the length of a list >
The length of generated list : 10

In [56]:
# 3. Find the maximum and minimum number of the generated list

max_l = max(l)                # "global" function
min_l = min(l)
print "< 3. Find max and min >"
print "The max number of generated list :", max_l
print "The min number of generated list :", min_l

< 3. Find max and min >
The max number of generated list : 9
The min number of generated list : 0

In [57]:
# 4. Sort the generated list in accending order

l.sort()                      # member function
                              # no return for this function
print "< 4. Sort a list >"
print "The sorted list :", l

< 4. Sort a list >
The sorted list : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
# 5. Reverse the generated list

l.reverse()                   # member function
                              # no return for this function
print "< 5. Reverse a list >"
print "The reversed list :", l

< 5. Reverse a list >
The reversed list : [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [59]:
# 6. Add a new item at the end of the list

l.append(100)                 # member function
                              # no return for this function
print "< 6. Add a new item in list >"
print "The new list :", l

< 6. Add a new item in list >
The new list : [9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 100]

In [60]:
# 7. Get index of a certain item in list

idx_100 = l.index(100)        # member function
print "< 7. Get index of a certain item in list >"
print "The index of 100 :", idx_100

< 7. Get index of a certain item in list >
The index of 100 : 10

In [61]:
# 8. Delete a item in list

del l[idx_100]                # member function
print "< 8. Delete a item in list >"
print "The new list :", l

< 8. Delete a item in list >
The new list : [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [62]:
# ============== Dictionary ==================== 

# 1. Define a dictionary
d = {'name':'Nanyang Technological University', 'location':'Singapore', 'birth':1990, 'birth':1991} # repeated name
                                                                                      # the last one will be recorded
print "< 1. Define a dictionary >"
print "The defined dictionary :", d

< 1. Generate a dictionary >
The generated dictionary : {'name': 'Nanyang Technological University', 'birth': 1991, 'location': 'Singapore'}

In [63]:
# 2. Check the length of the generated dictionary

len_d = len(d)                # "global" function
print "< 2. Check the length of a dictionary >"
print "The length of generated dictionary :", len_d

< 2. Check the length of a dictionary >
The length of generated dictionary : 3

In [64]:
# 3. Check the key of all items in a dictionary

keys_d = d.keys()             # member function
print "< 3. Check the key of all items in dictionary >"
print "The keys defined in the generated dictionary :", keys_d

< 3. Check the key of all items in dictionary >
The keys defined in the generated dictionary : ['name', 'birth', 'location']

In [65]:
# 4. Check the value of all items in a dictionary

values_d = d.values()         # member function
print "< 4. Check the value of all items in dictionary >"
print "The value of all items in the generated dictionary :", values_d

< 4. Check the value of all items in dictionary >
The value of all items in the generated dictionary : ['Nanyang Technological University', 1991, 'Singapore']

In [66]:
# 5. Delete one item in a dictionary

del d['location']             # member function
                              # no return for this function
print "< 5. Delete one item in a dictionary >"
print "The motified dictionary :", d

< 5. Delete one item in a dictionary >
The motified dictionary : {'name': 'Nanyang Technological University', 'birth': 1991}

In [67]:
# 6. Clear all items in a dictionary

d.clear()                     # member function
                              # no return for this function
print "< 6. Clear all items in a dictionary >"
print "The cleared dictionary :", d

< 6. Clear all items in a dictionary >
The cleared dictionary : {}

## <span style="color:#FF8B33">Exercise 2 (10 mins break)</span> 
Open `Week1 - Exercise 2.ipynb` and complete the exercises.

# <span style="color:#1A9FFF">3. Pandas Basics </span>

Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a `DataFrame`.

In [16]:
import numpy  as np    # import packages
import pandas as pd

## <span style="color:#1A9FFF">Tut 3a. Basic Data Structure </span>
<ul>
    <li>`Series` : One-dimensional data structure with any data type</li>
    <li>`DataFrame` : Two-dimensional data structure with different data type</li>
    <li>`Panel`  : Three-dimensional data structure</li>
    <li>`PanelND`: N-dimensional data structure </li>
</ul>
More details : [Pandas - Basic Data Structure](https://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

### Series
A Pandas Series is a one-dimensional array of indexed data. Compared with `list` in Python and `ndarray` in Numpy, the index of Pandas Series is explicitly defined.

One indexing, ** "`index`" **

##### Definition
** `pd.Series(data, index=index)` ** index is default parameter

In [69]:
# 1. Create a Series with a list
s = pd.Series([1,3,5,np.nan,6,8])                                        # default index starts from 0
print "< 1. Create series with a list >"                                 # 'nan' is a specific symbol for missing data
print "A Series defined from a list:\n", s                               # 'nan' = not a number

< 1. Create series with a list >
A Series defined from a list:
0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [70]:
# 2. Create a Series with a dictionary
d = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}       # user-defined index
s = pd.Series(d)
print "< 2. Create series with a dictionary >"
print "A Series defined from a dictionary:\n", s

< 2. Create series with a dictionary >
A Series defined from a dictionary:
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [71]:
# 3. Create a Series with nonsequential indices
s = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
print "< 3. Create a Series with nonsequential indices >"
print "A Series defined with nonsequential indices:\n", s

< 3. Create a Series with nonsequential indices >
A Series defined with nonsequential indices:
2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [24]:
# 4. Create a Series with an array of char
s = pd.Series(np.random.randn(6), index=['n', 't', 'u', 'e', 'e', 'e'])  # repeated indices
print "< 4. Create series with an array of char >"
print "A Series defined from an array of char:\n", s

< 4. Create series with an array of char >
A Series defined from an array of char:
n    1.340663
t   -0.069302
u   -0.473290
e   -1.432052
e    0.369644
e   -0.096345
dtype: float64

In [73]:
# 5. Attributes values and index
s = pd.Series([1,3,5,np.nan,6,8])
val_s = s.values
idx_s = s.index
print "< 5. Attributes values and index >"
print "Values in Series s :", val_s
print "Indices in Series s:", idx_s

< 5. Attributes values and index >
Values in Series s : [  1.   3.   5.  nan   6.   8.]
Indices in Series s: Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [74]:
# 6. Give a Series and its index names
s.name        = 'example'
s.index.name  = 'num'
print "< 6. Naming >"
print "After naming :\n", s

< 6. Naming >
After naming :
num
0     1
1     3
2     5
3   NaN
4     6
5     8
Name: example, dtype: float64

##### Indexing
Similar to list in Python, we can access data in Series by using square-bracket notation `[]`.

In [75]:
# 1. Indexing with numbers
s = pd.Series([1,3,5,np.nan,6,8]) 
print "< 1. Indexing with numbers >"
print s[0:2]

< 1. Indexing with numbers >
0    1
1    3
dtype: float64

In [76]:
# 2. Indexing with user-defined indices
d = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}       # user-defined index
s = pd.Series(d)
print "< 2. Indexing with user-defined indices >\n"
print "original series :        <==== [ index is drawn from the sorted keys ]"
print s, '\n'   
print "series slicing :"
print s['Ohio':'Texas']

< 2. Indexing with user-defined indices >

original series :        <==== [ index is drawn from the sorted keys ]
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

series slicing :
Ohio      35000
Oregon    16000
Texas     71000
dtype: int64

### DataFrame
`DataFrame`s are essentially multidimensional arrays with attached **`row`** and **`column`** labels, and often with heterogeneous types and/or missing data.

Two indexings, ** "`index`" ** for row indexing and ** "`columns`" ** for column indexing

##### Definition

In [30]:
# 1. Create from a dictionary of Series (with missing data filled in)

d = {'Age'    : pd.Series([27, 21, 30],         index=['John', 'Emma', 'Andrew']), 
     'Height' : pd.Series([165, 177, 154, 169], index=['John', 'Emma', 'Andrew', 'Steven'])}
df_ds = pd.DataFrame(d)

print "< 1. Create from a dictionary of Series >"
print df_ds, "    <====[ Steven's age is not provided ]"

< 1. Create from a dictionary of Series >
        Age  Height
Andrew   30     154
Emma     21     177
John     27     165
Steven  NaN     169     <====[ Steven's age is not provided ]

In [35]:
# 2. Create from a list of dictionaries 
l_1 = [1, 2, 3, 4, 5]
l_2 = [2, 4, 6, 8, 10]
l_d = {'list1': l_1, 'list2':l_2}   # 2*l, each item in list l is multiplied by 2
df_ld = pd.DataFrame(l_d)

print "< 2. Create from a list of dictionaries  >"
print df_ld

< 2. Create from a list of dictionaries  >
   list1  list2
0      1      2
1      2      4
2      3      6
3      4      8
4      5     10

##### Simple Indexing

select rows ( items ) and columns

In [34]:
# 1. Indexing with pre-defined name (rows)
print "< 1. Indexing with names >"
print df_ds['Andrew':'Emma']

< 1. Indexing with names >
        Age  Height
Andrew   30     154
Emma     21     177

In [27]:
# 2. Indexing with numbers (rows)
l_1 = [1, 2, 3, 4, 5]
l_2 = [2, 4, 6, 8, 10]
l_d = {'list1': l_1, 'list2':l_2}  
df_ld = pd.DataFrame(l_d)

print "< 2. Indexing with numbers >"
print df_ld[3:5]

< 2. Indexing with numbers >
   list1  list2
3      4      8
4      5     10

In [38]:
# 3. Select columns
print "< 3. Select a column by names >"
print df_ds[:]['Age'], '\n'
print df_ld[:]['list2']

< 3. Select a column by names >
Andrew    30
Emma      21
John      27
Steven   NaN
Name: Age, dtype: float64

0     2
1     4
2     6
3     8
4    10
Name: list2, dtype: int64

### Index Object
Both the Series and DataFrame objects contain an explicit **`index`** that helps you reference and modify data. It is an `immutable array` and `ordered set`.

##### Definition

In [17]:
# Create a Index object
idx1 = pd.Index([1, 3, 5, 7, 9, 11])
idx2 = pd.Index([2, 4, 5, 7, 9, 12])

print "The created Index objects\n", idx1, '\n', idx2

The created Index objects
Int64Index([1, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([2, 4, 5, 7, 9, 12], dtype='int64')

##### Indexing

In [25]:
# Indexing with integers
print idx1[1:]
print idx2[:4]

Int64Index([3, 5, 7, 9, 11], dtype='int64')
Int64Index([2, 4, 5, 7], dtype='int64')

##### Attributes

In [26]:
# Attributes - size, shape, ndim, dtype
print "size of the index      :", idx1.size
print "shape of the index     :", idx1.shape
print "dimension of the index :", idx1.ndim
print "type of the index      :", idx1.dtype

size of the index      : 6
shape of the index     : (6L,)
dimension of the index : 1
type of the index      : int64

##### Property

In [22]:
# Immutable (values in Index cannot be changed)
# idx1[0] = 0


# Set operation
print "Intersection of idx1 and idx2         :", idx1 & idx2
print "Union of idx1 and idx2                :", idx1 | idx2
print "Symmetric difference of idx1 and idx2 :", idx1 ^ idx2

Intersection of idx1 and idx2         : Int64Index([5, 7, 9], dtype='int64')
Union of idx1 and idx2                : Int64Index([1, 2, 3, 4, 5, 7, 9, 11, 12], dtype='int64')
Symmetric difference of idx1 and idx2 : Int64Index([1, 2, 3, 4, 11, 12], dtype='int64')

## <span style="color:#1A9FFF">Tut 3b. Basic Statistics </span>
Basic statistics on DataFrame

In [40]:
# Create a DataFrame
# AZ = Arizona, CA = California, FL = Florida
# HI = Hawaii,  MI = Michigan,   PA = Pennsylvania
# TX = Texas,   VA = Virginia,   WA = Washington

s_popu  = pd.Series([6.9,   39.3,  20.6,  1.43, 9.93,  12.8,  27.9,  8.4,   7.3],   index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # million persons
s_area  = pd.Series([295.2, 424.0, 170.3, 28.3, 250.5, 119.3, 695.7, 110.8, 184.7], index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # thousand km^2
s_warea = pd.Series([1.0,   20.5,  31.4,  11.7, 104.1, 3.4,   19.1,  8.5,   12.5],  index=['AZ', 'CA', 'FL', 'HI', 'MI', 'PA', 'TX', 'VA', 'WA'])  # thousand km^2

d = {'area_water'  : s_warea, 
     'population'  : s_popu,
     'area_total'  : s_area
     
    }
df = pd.DataFrame(d)
df

    area_total  area_water  population
AZ       295.2         1.0        6.90
CA       424.0        20.5       39.30
FL       170.3        31.4       20.60
HI        28.3        11.7        1.43
MI       250.5       104.1        9.93
PA       119.3         3.4       12.80
TX       695.7        19.1       27.90
VA       110.8         8.5        8.40
WA       184.7        12.5        7.30

In [47]:
# 1. Check average area and population
df_mean = df.mean(axis = 1)
print "< 1. Mean function >"
print "The average area and population:\n", df_mean

< 1. Mean function >
The average area and population:
AZ    101.033333
CA    161.266667
FL     74.100000
HI     13.810000
MI    121.510000
PA     45.166667
TX    247.566667
VA     42.566667
WA     68.166667
dtype: float64

In [42]:
# 2. Check minimum area and population
df_min = df.min(axis = 0)
print "< 2. Min function >"
print "The min area and population:\n", df_min

< 2. Min function >
The min area and population:
area_total    28.30
area_water     1.00
population     1.43
dtype: float64

In [43]:
# 3. Check maximum area and population
df_max = df.max(axis = 0)
print "< 3. Max function >"
print "The max area and population:\n", df_max

< 3. Max function >
The max area and population:
area_total    695.7
area_water    104.1
population     39.3
dtype: float64

In [44]:
# 4. Check median area and population
df_median = df.median(axis = 0)
print "< 4. Median function >"
print "The median area and population:\n", df_median

< 4. Median function >
The median area and population:
area_total    184.70
area_water     12.50
population      9.93
dtype: float64

In [45]:
# 5. Check standard deviation of area and population
df_std = df.std(axis = 0)
print "< 5. Std function >"
print "The standard deviation of area and population:\n", df_std

< 5. Std function >
The standard deviation of area and population:
area_total    202.207140
area_water     31.588320
population     12.100559
dtype: float64

In [46]:
# 6. Check correlation between columns
df_corr = df.corr()
print "< 6. Correlation function >"
print "The correlation between area and population:\n", df_corr

< 6. Correlation function >
The correlation between area and population:
            area_total  area_water  population
area_total    1.000000    0.077453    0.709171
area_water    0.077453    1.000000    0.024941
population    0.709171    0.024941    1.000000

# <span style="color:#FF8B33">Exercise 3 (10 mins break)</span> 
Open `Week1 - Exercise 3.ipynb` and complete the exercises.